In [1]:
import pandas as pd

In [3]:
student_data = pd.read_csv('file:///C:/Users/Marat/Desktop/Python/SkillFactory-python/Data/students_performance.csv', sep=',')

##### Выведем информацию о столбцах таблицы

In [5]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Задание 35.9.1
##### Данные о скольких студентах содержатся в таблице?

In [6]:
student_data.shape[0]

1000

### Задание 35.9.2
##### Каков балл по письму у студента под индексом 155?

In [8]:
student_data.loc[155,'writing score']

88

### Задание 35.9.3
##### Сколько суммарно пропущенных значений в таблице?

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 35.9.4
##### Сколько столбцов в таблице имеет тип данных object?

In [10]:
student_data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 8 entries, gender to writing score
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 35.9.5
##### Какой объём памяти (в килобайтах) занимает таблица?

In [11]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 35.9.6
##### Каков у студентов средний балл по математике?

In [12]:
student_data['math score'].mean()

66.089

### Задание 35.9.7
##### Какая расовая группа является самой крупной в учебном заведении?

In [41]:

student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

### Задание 35.9.8
##### Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [17]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

### Задание 35.9.9
##### Сколько студентов получили 0 баллов по математике?

In [18]:
student_data[student_data['math score'] == 0].shape[0]

1

### Задание 35.9.10

##### Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием. В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [28]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [29]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

### Задание 35.9.11
##### Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [32]:
student_data['parental level of education'].value_counts(normalize = True) * 100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

### Задание 35.9.12
##### Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [55]:
median_data = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_data = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
int(round(abs(median_data - mean_data),0))

6